body{

    margin:0;

    padding:0;

    background:linear-gradient(to right,#ff9a9e,#fad0c4);

    font-family:Arial,sans-serif;

    text-align:center;

}

.container{

    padding:30px;

}

h1{

    color:white;

    font-size:45px;

}

.photo{

    width:250px;

    border-radius:20px;

    box-shadow:0 0 20px black;

}

p{

    font-size:22px;

    color:white;

}

button{

    padding:15px 30px;

    font-size:20px;

    border:none;

    border-radius:30px;

    background:#ff4081;

    color:white;

    cursor:pointer;

}

button:hover{

    background:#e91e63;

}

#surprise{

    display:none;

    margin-top:30px;

}